.nav-menu {
    display: flex;
    justify-content: space-between;
    background-color: #084887;
    height: 7rem;
    font-family: BioRhyme   ;
    color: white;
    align-items: center;
    border-bottom: 10px solid #95190C;

}

.nav-menu span {
    font-size: 2.4rem;
}
.nav-menu a {
    padding: 30px;
    font-size: 1.3rem;
}   

@media only screen and (max-width: 1298px) {
    body {
      max-width: 100%;
  
    }
  
    .nav-menu {
      justify-content: center ;
      height: 25rem;
      flex-direction: column;
      
      
    }
  .nav-menu a {
    padding:20px;
  }

  nav a{
    display: block;
  }
}  